 /* 公共样式  */
 div,
 span,
 p,
 i,
 em,
 cite,
 img,
 small,
 label,
 strong,
 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 ol,
 ul,
 li {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: inherit;
     font-weight: lighter;
     border: 0;
     outline: 0;
 }

 html,
 body {
     min-width: 1366px;
     font: 10px Helvetica, Tahoma, Arial, Microsoft YaHei, "微软雅黑", sans-serif;
     font-size: 62.5%;
 }