@keyframes host1 {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes host2-bottom-img {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

.host {
    overflow: hidden;
    animation-name: host1;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;

}

.body-max-box {
    width: 2544px;
    transition: transform 1s ease;
    height: calc(1272px / 2.7);
}

.body-div,
.body-div-2,
.body-div-3,
.body-div-4 {
    width: 100%;
    background: url(../picture/home-banner-algorithm.jpg);
    background-size: 100% 100%;
}

.body-div-2 {
    background: url(../picture/home-banner-01.jpg);
    background-size: 100% 100%;
}

.body-div-3 {
    background: url(../picture/home-banner-02.jpg);
    background-size: 100% 100%;
}

.body-div-4 {
    background: url(../picture/home-banner-d04.jpg);
    background-size: 100% 100%;
}

.body-div-5 {
    background: url(../picture/home-banner-03.jpg);
    background-size: 100% 100%;
}

.body-div-6 {
    background: url(../picture/home-banner-04.jpg);
    background-size: 100% 100%;
}

.quadrilateral-box {
    top: calc((1272px / 2.7) - 3%);
    width: 25%;
    height: 1%;
    margin: 0 0 0 37.5%;
}

.quadrilateral {
    transform: skew(-50deg);
    width: 10%;
    height: 100%;
    background: #ffffff7f;
}

.quadrilateral:hover {
    cursor: pointer;
    background: #fff;
}

.top-img-text {
    height: 25%;
    margin: 10% 0 0 10%;
    color: #F8FAFB
}

.top-img-text>p {
    margin-bottom: 2%;
}

.top-text-size1 {
    font-size: calc(1272px / 40);
}

.top-text-size2 {
    font-size: calc(1272px / 100);
}

.img-button {
    width: 15%;
    padding: 1%;
    color: #DFE4EF;
    background: rgba(17, 22, 33, 0.4);
    border-radius: 50px;
}

.img-button:hover {
    cursor: pointer;
    color: #3691e0;
}

.host2 {
    justify-content: space-around;
    height: calc(1272px / 3.5);
    text-align: center;
}

.host2-top {
    height: 20%;
    color: #4B4D4F;
    line-height: 450%;
}

.host2-bottom {
    flex: 1;
    justify-content: space-around;
    padding-top: 5%;
}

.host2-bottom>div {
    width: 12%;
    height: 70%;
    padding: 3%;
}

.host2-bottom>div:hover {
    cursor: pointer;
    background: rgba(63, 66, 68, 0.2);
}

.host2-bottom-img {
    width: 50%;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.host2-bottom-text1 {
    color: #3F4244;
}

.host2-bottom-text2 {
    font-size: calc(1272px / 150);
    color: #B2B2AE;
}

.host2-bottom>div>p {
    margin-top: 5%;
}

.host3 {
    height: calc(1272px / 2);
    background: url(../images/solution-bg.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    text-align: center;
}

.host3>div {
    padding: 5%;
    height: calc((100% - 0.25%) / 2);
}

.host3-top>p {
    margin-bottom: 1%;
}

.host3-top-text1 {
    font-size: calc(1272px / 50);
}

.host3-top-text2 {
    color: rgb(130, 160, 210);
}

.host3-intelligent {
    width: 60%;
    height: 80%;
    margin: auto;
}

.host3-intelligent>div {
    width: calc(99.5% / 3);
    height: 100%;
    background: linear-gradient(180deg, rgb(15, 51, 114)0% 5%, rgb(34, 68, 198));
}

.host3-conten {
    padding: 0 !important;
    height: 0.25% !important;
}

.host3-conten>img {
    width: 25%;
}

.host3-conten-img2 {
    transform: rotate(180deg);
}