:root {
    --size: calc(100vw / 100);
    --edge-size: calc(100vw / 80)
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
}

button {
    border: none;
}

.border-padding {
    box-sizing: border-box;
    padding-left: 10.8%;
    padding-right: 10.8%;
}

.row-flex,
.column-flex {
    display: flex;
    justify-content: space-between;
}

.column-flex {
    flex-direction: column;
}